<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="in.cinny.app"
 versionCode="0"
 versionName="0">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Cinny" android:icon="@mipmap/cinny">
        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <activity android:name=".Cinny" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="orientation|screenSize" android:windowSoftInputMode="adjustResize">
             <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
             </intent-filter>
        </activity>
    </application>
</manifest>
